@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-syne);
}

body {
  @apply bg-neutral-50;
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-syne);
  font-weight: 600;
}

p, ul, li {
  @apply selection:bg-violet-200! selection:text-violet-400;
}