---
import { getLocaleFromUrl, useTranslations, type Locale } from "../i18n";
import LightRays from "./LightRays.jsx";

const locale: Locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<section
  id="projects"
  class="relative flex min-h-screen flex-col items-center justify-center overflow-hidden rounded-4xl bg-linear-to-br from-[#44403C] from-20% to-[#1C1917] to-60% px-10 py-20 sm:py-40"
>
  <LightRays
    client:visible
    raysOrigin="top-left"
    raysColor="#ffffff"
    raysSpeed={1}
    lightSpread={2}
    rayLength={3}
    followMouse={true}
    mouseInfluence={0.5}
    noiseAmount={0.1}
    distortion={0}
    className="custom-rays"
    pulsating={false}
    fadeDistance={2}
    saturation={1}
  />

  <div class="relative z-10 flex max-w-5xl flex-col items-center gap-16">
    <h2 class="dm-serif-display text-5xl font-bold text-stone-200!">
      {t("nav.projects")}
    </h2>

    <div class="grid w-full grid-cols-1 gap-8 lg:grid-cols-2">
      <slot />
    </div>
  </div>
</section>
