---
interface Props {
  label: string;
  icon: string;
}

const { label, icon } = Astro.props;
---

<div
  class="flex min-h-[100px] min-w-[100px] items-center justify-center rounded-3xl bg-stone-200/25 p-4 transition-transform hover:scale-110 sm:h-20 sm:w-20"
  title={label}
>
  <img
    src={icon}
    alt={label}
    class="h-full! max-h-16! w-full! max-w-16! rounded-none! object-contain"
    loading="eager"
  />
</div>
