---
import { TOOLS } from "../data/tools";
import { getLocaleFromUrl, useTranslations, type Locale } from "../i18n";
import ToolIcon from "./ToolIcon.astro";

const locale: Locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<section
  id="tnt"
  class="relative flex min-h-screen flex-col items-center justify-center overflow-hidden px-10 py-40! sm:px-10 sm:py-32"
>
  <div
    class="pointer-events-none absolute top-10 right-20 h-[420px] w-[500px] rounded-full bg-stone-300 blur-3xl"
  >
  </div>
  <div
    class="relative z-10 grid max-w-5xl grid-cols-[repeat(3,100px)] grid-rows-[repeat(5,100px)] gap-4 transition-all duration-500 ease-in-out md:grid-cols-[repeat(5,100px)] md:gap-8 xl:grid-cols-[repeat(8,100px)]"
  >
    <div class="col-span-3 row-span-3 flex flex-col justify-center gap-4">
      <h2 class="dm-serif-display max-h-32 text-4xl font-bold sm:text-5xl">
        <span class="text-stone-800">Tools</span><br />
        <span class="text-nowrap text-[#6C969D]">
          <span class="font-light">&amp;</span> Technologies
        </span>
      </h2>
      <p class="text-2xl leading-tight font-light text-stone-600">
        {t("tnt.subtitle")}
      </p>
    </div>
    {TOOLS.map((tool) => <ToolIcon label={tool.label} icon={tool.icon} />)}
  </div>
</section>
