---
import AboutHeroImage from "../../assets/blog-placeholder-about.jpg";
import BlogPost from "../../layouts/BlogPost.astro";
---

<BlogPost
  title="Sobre mí"
  description="Conoce más sobre Daniel Peñaloza"
  pubDate={new Date("August 08 2021")}
  heroImage={AboutHeroImage}
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
    integer malesuada nunc vel risus commodo viverra.
  </p>
</BlogPost>
